@font-face {
  font-family: "Dana-Bold";
  src: url(../Fonts/Dana-Bold.ttf);
}

@font-face {
  font-family: "Dana-Medium";
  src: url(../Fonts/Dana-Medium.ttf);
}

@font-face {
  font-family: "Dana-Regular";
  src: url(../Fonts/Dana-Regular.ttf);
}

@font-face {
  font-family: "Dana-Light";
  src: url(../Fonts/Dana-Light.ttf);
}

* {
  font-family: "Dana-Regular";
}

body {
  background-color: #f5f0ea;
  margin: 0;
  padding: 0;
}
