.container {
  width: 100vw;
  height: 100vh;
  background-color: #ffffff;
}

.main {
  height: 95%;
  display: flex;
  justify-content: center;
  align-items: center;
}

.homeBox {
  width: 710px;
  height: 400px;
  display: flex;
}
