.container {
  width: 100vw;
  height: 100vh;
  display: flex;
  align-items: center;
  background-color: #ffffff;
  justify-content: space-between;
}

.loginIndex {
  width: 700px;
  height: 100vh;
}

.loginBox {
  margin-right: 7%;
  text-align: center;
}

.container form {
  margin-top: 50px;
  text-align: center;
}

.container input {
  height: 40px;
  width: 400px;
  border: none;
  cursor: pointer;
  margin: 0 0 3% 0;
  border-bottom: 1.5px solid #333333;
}

.container input:hover {
  border-color: #f27e00;
}

#login {
  height: 40px;
  width: 400px;
  border: none;
  direction: rtl;
  cursor: pointer;
  cursor: pointer;
  margin-top: 20px;
  color: #ffffff;
  border-radius: 30px;
  font-family: "Dana-Medium";
  background-color: #285c96;
}

#login:hover {
  background-color: #6a8eb7;
}

#signup {
  cursor: pointer;
  color: #333333;
  font-size: 0.8rem;
  margin-top: 50px;
  display: block;
  text-decoration: none;
  font-family: "Dana-Bold";
}

#signup:hover {
  color: #F27E00;
}
