.container {
  width: 100vw;
  height: 100vh;
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: #ffffff;
}

.container input {
  height: 40px;
  width: 400px;
  border: none;
  cursor: pointer;
  margin: 0 0 3% 0;
  border-bottom: 1.5px solid #333333;
}

.container input:hover {
  border-color: #f27e00;
}

.container button {
  height: 40px;
  width: 400px;
  border: none;
  direction: rtl;
  cursor: pointer;
  margin-top: 20px;
  color: #ffffff;
  border-radius: 30px;
  font-family: "Dana-Medium";
  background-color: #285c96;
}

.container button:hover {
  background-color: #6a8eb7;
}
