.container {
  width: 190px;
  height: 180px;
  padding: 25% 0 0 0;
  text-align: center;
  border-radius: 10px;
  box-sizing: border-box;
  background-color: #f4f8ff;
}

.container span {
  display: block;
  direction: rtl;
}

.title{
  font-family: 'Dana-Demi';
  color: #285c96;
}