.container {
  height: 96%;
  direction: rtl;
  background-color: #ffffff;
}

.titleBox {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.titleBox h2 {
  color: #285c96;
  font-family: "Dana-Demi";
}

/* Add Task Style */

.addTask {
  width: 30px;
  height: 30px;
  margin-left: 2%;
  cursor: pointer;
}

.addTask:hover {
  opacity: 50%;
}

.addModal {
  top: 0;
  left: 0;
  z-index: 1;
  width: 100vw;
  height: 100vh;
  position: fixed;
  background-color: rgba(0, 0, 0, 0.4);
}

.modalContent {
  top: 33%;
  z-index: 10;
  right: 36.3%;
  width: 400px;
  height: 200px;
  color: #f4f8ff;
  position: absolute;
  text-align: center;
  border-radius: 10px;
  background-color: #6a8eb7;
}

.modalContent img {
  width: 20px;
  height: 20px;
  margin: 4% 3% 0 0;
  display: block;
  cursor: pointer;
}

.modalContent img:hover {
  opacity: 50%;
}

.modalContent input {
  width: 280px;
  height: 35px;
  border: none;
  cursor: pointer;
  color: #f4f8ff;
  margin: 5% 0 8% 0;
  text-align: center;
  background-color: #6a8eb7;
  border-bottom: 1.5px solid #f4f8ff;
}

.modalContent input::placeholder {
  color: #f4f8ff;
}

.modalContent input:hover {
  border-color: #f27e00;
}

.modalContent button {
  width: 300px;
  height: 35px;
  border: none;
  cursor: pointer;
  color: #6a8eb7;
  border-radius: 30px;
  font-family: "Dana-Medium";
  background-color: #f4f8ff;
}

.modalContent button:hover {
  color: #f4f8ff;
  background-color: #285c96;
}

/* Tasks List Style */

.tasksBox {
  width: 300px;
  height: 620px;
  overflow: scroll;
  border-radius: 10px;
  background-color: #f4f8ff;
}

.task {
  display: flex;
  padding: 5% 5% 2% 6%;
  justify-content: space-between;
}

.task .box {
  display: flex;
}

.deleteBtn {
  width: 15px;
  height: 15px;
  margin-top: 5px;
  cursor: pointer;
}

.deleteBtnTodo:hover {
  opacity: 50%;
}

.text {
  max-height: 25px;
  max-width: 230px;
  display: block;
  overflow: scroll;
  margin: 2px 5px 0 0;
}

.doneText {
  text-decoration: line-through;
}

.checkbox {
  width: 15px;
  height: 15px;
  cursor: pointer;
  margin-top: 2px;
  border-radius: 5px;
  border: 1px solid #000000;
}

.checkbox:hover {
  border: 1px solid #f27e00;
}

.doneIcon {
  width: 20px;
  height: 20px;
}
