.container {
  width: 100vw;
  height: 100vh;
  direction: rtl;
  background-color: #ffffff;
}

.main.blur {
  opacity: 30%;
}

.main {
  height: 94%;
  display: flex;
  align-items: center;
  justify-content: center;
}

.main h2 {
  color: #285c96;
  font-family: "Dana-Demi";
}

.thisMonthBox,
.thisWeekBox,
.thisDayBox {
  width: 300px;
  height: 700px;
  margin-left: 8%;
  margin-bottom: 1%;
}

.thisDayBox {
  margin-left: 0;
}

.titleBox {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.addTodo {
  width: 30px;
  height: 30px;
  margin-left: 2%;
  cursor: pointer;
}

.addTodo:hover {
  opacity: 50%;
}

.addModal {
  top: 33%;
  z-index: 10;
  right: 36.3%;
  width: 400px;
  height: 200px;
  color: #f4f8ff;
  position: absolute;
  text-align: center;
  border-radius: 10px;
  background-color: #6a8eb7;
}

.addModal img{
  width: 20px;
  height: 20px;
  opacity: 50%;
  margin: 4% 3% 0 0;
  display: block;
  cursor: pointer;
}

.addModal img:hover{
  opacity: 100%;
}

.addModal input {
  width: 280px;
  height: 35px;
  border: none;
  cursor: pointer;
  color: #f4f8ff;
  margin: 5% 0 8% 0;
  text-align: center;
  background-color: #6a8eb7;
  border-bottom: 1.5px solid #f4f8ff;
}

.addModal input::placeholder{
  color: #f4f8ff;
}

.addModal input:hover {
  border-color: #f27e00;
}

.addModal button {
  width: 300px;
  height: 35px;
  border: none;
  cursor: pointer;
  color: #6a8eb7;
  border-radius: 30px;
  font-family: "Dana-Medium";
  background-color: #f4f8ff;
}

.addModal button:hover {
  color: #f4f8ff;
  background-color: #285c96;
}
