.container {
  width: 100vw;
  height: 100vh;
  background-color: #ffffff;
  direction: rtl;
}

.main {
  height: 95%;
  display: flex;
  align-items: center;
  justify-content: center;
}

.main h2 {
  color: #285c96;
  font-family: "Dana-Demi";
}

.thisMonthBox,
.thisWeekBox,
.thisDayBox {
  width: 300px;
  height: 700px;
  margin-left: 8%;
  margin-bottom: 1%;
}

.thisDayBox {
  margin-left: 0;
}

.titleBox {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.addTodo {
  width: 30px;
  height: 30px;
  margin-left: 2%;
  cursor: pointer;
}

.addTodo:hover {
  opacity: 50%;
}
